* {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4d4d4d;
  background: #f2f2f2; }

h1 {
  text-align: center; }

.flickr-search {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .flickr-search__input {
    width: 200px;
    margin-left: 10px; }

.flickr-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .flickr-container.searching .flickr-photo:not(.filtered) {
    display: none; }

.flickr-photo {
  overflow: hidden;
  position: relative;
  width: 260px;
  box-shadow: 0 0 2px 1px #f2f2f2;
  border: solid 1px #e6e6e6;
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px; }
  .flickr-photo a {
    text-decoration: none; }
    .flickr-photo a:hover {
      text-decoration: underline; }
  .flickr-photo__image {
    width: 240px; }
  .flickr-photo__author {
    color: #4d4d4d;
    font-weight: 600; }
  .flickr-photo__title {
    font-weight: 600;
    color: #4d4d4d;
    overflow: hidden; }
  .flickr-photo__title-author {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px; }
  .flickr-photo__tags-title {
    font-size: 14px; }
  .flickr-photo__tags {
    font-style: italic;
    font-size: 12px;
    color: #7f7f7f;
    word-wrap: break-word; }
  .flickr-photo__description {
    color: #7f7f7f;
    font-size: 12px;
    overflow: hidden; }
    .flickr-photo__description > p:first-child, .flickr-photo__description > p:nth-child(2) {
      display: none; }
