$fontColor: #4d4d4d;
$fontColorLight: #7f7f7f;
$backgroundColor: #f2f2f2;
$borderColor: #e6e6e6;

* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $fontColor;
    background: $backgroundColor;
}
h1 {
    text-align: center;
}
.flickr-search {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    &__input {
        width: 200px;
        margin-left: 10px;
    }
}
.flickr-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    &.searching {
        .flickr-photo:not(.filtered) {
            display: none;
        }
    }
}
.flickr-photo {
    overflow: hidden;
    position: relative;
    width: 260px;
    box-shadow: 0 0 2px 1px $backgroundColor;
    border: solid 1px $borderColor;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    &__image {
        width: 240px;
    }
    &__author {
        color: $fontColor;
        font-weight: 600;
    }
    &__title {
        font-weight: 600;
        color: $fontColor;
        overflow: hidden;
    }
    &__title-author {
        font-style: italic;
        font-size: 14px;
        margin-bottom: 12px;
    }
    &__tags-title {
        font-size: 14px;
    }
    &__tags {
        font-style: italic;
        font-size: 12px;
        color: $fontColorLight;
        word-wrap: break-word;
    }


    &__description {
       color: $fontColorLight;
       font-size: 12px;
       overflow: hidden;
       & > p {
           &:first-child, &:nth-child(2) {
               display: none;
           }
       }
    }
}
