<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Flickr Photo Stream</title>
        <link rel="stylesheet" href="css/app.css" />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <h1>Flickr Photo Stream</h1>
        <div class="flickr-search">
            <span class="flickr-search__title">Search: </span>
            <input type="text" name="Search" id="flickr-search" class="flickr-search__input">
        </div>
        <div id="flickr-container" class="flickr-container"></div>

        <script id="template-flickr" type="text/template">
            <%
                var img = obj.media.m;
                var link = obj.link;
                var title = obj.title;
                var author = obj.author;
                var description = obj.descriptionShort;
                var tags = obj.tags;
                var authorUrl = 'https://www.flickr.com/photos/' + obj.author_id;
                var authorNameRegExp = /\(([^)]+)\)/;
                var authorMatches = authorNameRegExp.exec(author);
                if (authorMatches.length >= 2)  {
                    author = authorMatches[1];
                }
            %>
            <div class="flickr-photo" id="<%= link %>">
                <img class="flickr-photo__image b-lazy" data-src="<%= img %>" alt="" src="">
                <a href="<%= link %>" target="_" class="flickr-photo__title"><%= title %></a>
                <div class="flickr-photo__title-author">
                    by
                    <a href="<%= authorUrl %>" target="_" class="flickr-photo__author"><%= author %></a>
                </div>
                <div class="flickr-photo__description"><%= description %></div>
                <% if (tags.length) { %>
                    <div class="flickr-photo__tags">
                        <span class="flickr-photo__tags-title">Tags: </span>
                        <%= tags %>
                    </div>
                <% } %>
            </div>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/blazy/1.5.2/blazy.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>

